<div class="home-page">
    <div class="mobile_menu" v-if="showMenu">
        <h1>Menu</h1>
        <div class="close-menu" @click="showMenu=false"><i class="fas fa-times"></i></div>
        <div class="mobile_menu_inner">
            <hr class="separator"/>
            <ul class="menu-list">
                <li class="menu-list-item" @click="goTo('#album')">Fotografias</li>
                <li class="menu-list-item" @click="goTo('#cameras')">Mis Cámaras</li>
                <li class="menu-list-item" @click="goTo('#contact')">Contacto</li>
            </ul>    
        </div>
    </div>
    <img class="home-page_background" :src="url" />
    <div class="home-page_inner">
        <nav>
            <div class="left">
                <label class="title">Alberto Feijoo Ibaseta</label>
            </div>
            <div class="right">
                <ul class="menu-desktop">
                    <li><a @click="showMenu=false" href="#album">Fotografias</a></li>
                    <li><a @click="showMenu=false" href="#cameras">Mis Cámaras</a></li>
                    <li><a @click="showMenu=false" href="#contact">Contacto</a></li>
                    <!-- <li>Curso Fotografia</li> -->
                </ul>
                <div class="menu-mobile-icon" @click="showMenu=true"><i class="fas fa-bars"></i></div>
            </div>
        </nav>
        <main>
            <div class="resume">
                <h1>Álbumes fotográficos</h1>
                <button @click="onNovedadesClick()">Novedades</button>
            </div>
        </main>
        <footer>
        </footer>
    </div>
</div>