<div class="home-page">
    <img class="home-page_background" :src="url" />
    <div class="home-page_inner">
        <nav>
            <div class="left">
                <label class="title">Alberto Feijoo Ibaseta</label>
            </div>
            <div class="right">
                <ul>
                    <li><a href="#album">Fotografias</a></li>
                    <li><a href="#cameras">Mis Cámaras</a></li>
                    <li><a href="#contact">Contacto</a></li>
                    <!-- <li>Curso Fotografia</li> -->
                </ul>
            </div>
        </nav>
        <main>
            <div class="resume">
                <h1>Álbumes fotográficos</h1>
                <button @click="onNovedadesClick()">Novedades</button>
            </div>
        </main>
        <footer>
        </footer>
    </div>
</div>