<div class="home-page">
    <img class="home-page_background" :src="url"/>
    <div class="home-page_inner">
        <nav>
            <div class="left">
                <label class="title">Nombre Apellido Apellido</label>
            </div>
            <div class="right">
                <ul>
                    <li>Fotografias</li>
                    <li>Mis Cámaras</li>
                    <li>Contacto</li>
                    <!-- <li>Curso Fotografia</li> -->
                </ul>
            </div>
        </nav>
        <main>
            <div class="resume">
                <h1>Álbumes fotográficos</h1>
                <button>Novedades</button>
            </div>
        </main>
        <footer>
        </footer>
    </div>
</div>